<div id="article_show">
  <h1>  <%= @article.title %> </h1> <br>
    <div id="content_opacity">
      <p>  <%= @article.content %> </p>
    </div>
  <p class="date"> <%= @article.created_at %> </p>

  <br>
  <br>

  <% if user_signed_in? %>
    <div id="admin_links">
      <%= link_to "Edit article", edit_article_path(@article), class: "button" %>
      <%= link_to "Delete article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
    </div>
  <% end %>

  <div id="article_share">
     <h2> Share <%= @article.title %> ! :) </h2>
    <!-- Share on facebook -->
    <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @article.title %> by @RobertJ - &amp;url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500,top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
    <!-- Share on LinkedIn -->
    <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @article.title %> by @RobertJ - &amp;url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500,top=200, left=300');void(0);"><i class="fa fa-linkedin"></i></a>
    <!-- Share on twitter -->
    <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @article.title %> by @RobertJ - &amp;url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500,top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
  </div>

  <hr>

  <%= render './shared/disqus' %>

  <hr>

</div>
