<div id="project_show">
  <h2> <%= @project.title %> </h2><br>
    <div id="content_project">
      <p>  <%= @project.description %> </p>
    </div>
  <%= @project.link %>

  <% if user_signed_in? %>
   <div id="admin_links"></div>
     <%= link_to "Edit project", edit_project_path(@project), class: "button" %>
     <%= link_to "Delete project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
  <% end %>
</div>
