<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <link href="stylesheets/application.scss" type="text/scss" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <script src="https://use.fontawesome.com/3b8b2287af.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="site">
      <div class="content-1">
        <%= render 'shared/navbar' %>
      </div>
      <div class="content-2">
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% elsif alert %>
            <p class="alert"><%= alert %></p>
          <% end %>

          <%= yield %>
      </div>
      <div class=content-3>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
